<div class="container mt-5">
    <h2 class="text-center mb-4">Login Form</h2>
    <form #loginform="ngForm" (ngSubmit)="login(loginform)">
        <div class="row justify-content-center">
            <div class="col-lg-2"></div>

            <div class="col-sm-8">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Username</mat-label>
                    <input type="text" matInput [formControl]="usernameFormControl" [errorStateMatcher]="matcher"
                        placeholder="username" [(ngModel)]="user.username" name="username" id="username">
                    <mat-hint>Lo username deve essere di minimo 5 caratteri e massimo 10</mat-hint>
                    <mat-error
                        *ngIf="usernameFormControl.hasError('username') && !usernameFormControl.hasError('required')">
                        Please enter a valid username
                    </mat-error>
                    <mat-error *ngIf="usernameFormControl.hasError('required')">
                        Username is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-2"></div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-2"></div>

            <div class="col-sm-8 mt-3">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
                        placeholder="password" [(ngModel)]="user.password" name="password" id="password">
                    <mat-hint>La password deve contenere minimo 8 caratteri, almeno una minuscola, uma maiuscola e un numero. </mat-hint>
                    <mat-error *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
                        Please enter a valid password
                    </mat-error>
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-lg-2"></div>

            <button type="submit" mat-raised-button color="primary" class="mt-3">Login!</button>
        </div>
    </form>
</div>